venv/
.pylintrc
__pycache__/
migrations/
fixtures/

.vscode
.idea

.github
user_creds
refresh.txt
db.sqlite3
media/
.env
credentials.json
event.json
dump_data.py
load_data.py
createsuperuser.py
createcolors.py



# Logs
frontend/logs
*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/node_modules
frontend/.DS_Store
frontend/coverage
frontend/*.local

frontend/cypress/videos/
frontend/cypress/screenshots/

# Editor directories and files
frontend/.vscode/*
frontend/!.vscode/extensions.json
frontend/.idea
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?

frontend/*.tsbuildinfo

